@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}
p{
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
}
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
article{
    margin-right: 20px;
}
.black{
    color: #ffffff;
    background-color: #000000;
    border: solid 3px;
}
.red{
    background-color: #ff0000;
    border: solid 3px;
}
.white{
    background-color: #ffffff;
    border: solid 3px;
}
.boton1{
    color: white;
    background-color:  #000000;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}

.boton2{
    color:  #000000;
    background-color: #ff0000;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}

.boton3{
    color: white;
    background-color:  #000000;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}

.boton4{
    color:  #000000;
    background-color: #ff0000;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}

  .boton3:hover {
    background: red;
    color: black !important;
  }



.boton4:hover{
    background: black;
    color: white !important; 
}

input {
    width: 250px;
    padding: 5px;
  }
  .redondeado {
    border-radius: 5px;
  }